body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.page {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
    padding: 5px;
}

header {
    font-size: 24px;
    line-height: 48px;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1rem;
    color: #333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
}